/* general style */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');


*{
    text-decoration: none;
    margin: 0;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
.pup{
    color: #3E1D4E;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: Josefin Sans;
}
.btn{
    height: 48px;
    width: 240px;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    border-radius: 0px;
    z-index: 10;
}
.purple{
    background-color: #3E1D4E;
    color: white;
    border: 1px solid #3E1D4E;
}
.content{
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.btn a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    text-align: center;
    height: 48px;
    box-sizing: border-box;
    width: 118px;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid white;
}

/* header */
header{
    background-color: #3E1D4E;
}
nav{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 72px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 24px 120px 24px 120px;
    background-color: #3E1D4E;
}
nav .links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
}
nav .links a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    text-align: left;
}
nav .links .yellow{
    color: #ECCB5E;
}

/* hero */
.Hero{
    background-color: #3E1D4E;
}
.Hero .content{
    height: 720px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 0px;
    padding: 120px;
}
.Hero .content .texts{
    height: 264px;
    max-width: 640px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
}
.Hero .content .texts h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}
.Hero .content .texts p{
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.Hero .content .btn .yellow{
    background: #ECCB5E;
    border: 1px solid #ECCB5E;
    color: #3E1D4E;
}
.Hero .content .images{
    position: absolute;
    height: 719.5400390625px;
    width: 763.62890625px;
    left: 472.8323669433594px;
    top: 88.22998046875px;
}
.Hero .content .images img:first-child{
    position: absolute;
    height: 680.0060424804688px;
    width: 584.4662475585938px;
    left: 5%;
    top: 0px;
    z-index: 2;
}
.Hero .content .images img:last-child{
    position: absolute;
    height: 719.5400390625px;
    width: 479.75189208984375px;
    left: 40%;
    top: 0px;
    z-index: 1;
}


/* 
problem statement */

.problem_statement{
    background-color: whitesmoke;
    z-index: 6;
    position: relative;
}
.problem_statement .content{
    height: 496px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.problem_statement .content .texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
    max-width: 960px;
    height: max-content;
}
.problem_statement .content .texts h1{
    max-width: 960px;
    width: 100%;
    height: max-content;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: #3E1D4E;
}
.problem_statement .content .texts p{
    max-width: 960px;
    width: 100%;
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(62, 29, 78, 0.64);
}
.problem_statement .content .btn a{
    background-color: white;
    color: #3E1D4E;
    border: 1px solid #3E1D4E;
}
.problem_statement .content .btn a.purple{
    
    background-color: #3E1D4E;
    color: white;
    border: 1px solid #3E1D4E;
}

/* discover */

.discover{
    background-color: #3E1D4E0A;
}
.discover .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px;
    gap: 40px;
}
.discover .content h1{
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.04em;
    color: rgba(62, 29, 78, 0.4);
}
.discover .content .frame5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
    max-width: 960px;
}
.discover .content .frame5 .hireTalent{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 24px;
    width: 293.33px;
    height: 352px;
    border: 1px solid #ECCB5E;
    border-radius: 8px;
}
.discover .content .frame5 .hireTalent .hireText{
    width: 213.33px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.04em;
    color: rgba(62, 29, 78, 0.64);
}
.discover .content .frame5 .hireTalent a{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 110px;
height: 24px;
}

.services{
    background-color: white;
}
.services .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px;
    gap: 40px;
    max-width: 1200px;
    height: max-content;
    background: #FFFFFF;
}
.services .content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(62, 29, 78, 0.4);
}
.services .content .frame5{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 40px;
justify-content: space-between;
box-sizing: border-box;
gap: 40px;
max-width: 960px;
width: 100%;
background: rgba(62, 29, 78, 0.04);
border-radius: 8px;
}
.services .content .frame5 .detailsHold{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
justify-content: space-between;
width: 520px;
height: max-content;
}
.services .content .frame5 .detailsHold details summary{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 24px;
    width: 520px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #3E1D4E;
}
.services .content .frame5 .detailsHold details p{
    height: 72px;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #3E1D4E;
}

/* 
reviews */

.reviews{
    background-color: #ECCB5E;
}
.reviews .content{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px;
    gap: 40px;
    width: 1200px;
    height: 736px;
}
.reviews .content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    color: rgba(62, 29, 78, 0.4);
}
.reviews .content .header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 104px;
    height: 128px;
}
.reviews .content .header h2{
    width: 428px;
    height: 96px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    letter-spacing: -0.04em;
    color: #3E1D4E;
}
.reviews .content .header p{
    width: 428px;
    height: 120px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: rgba(62, 29, 78, 0.64);
}
.reviews .content .swiperContent{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 200px;
    overflow-x: scroll;
    max-width: 960px;
    width: 100%;
    height: 224px;
    position: relative;
    scroll-snap-type: x proximity;
}
.swiperContent::-webkit-scrollbar{
    display: none;
}
.reviews .content .swiperContent .review{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 24px;
max-width: 480px;
width: 100%;
scroll-snap-align: center;
height: 224px;
box-sizing: border-box;
background: #FFFFFF;
border-radius: 4px;
}

.reviews .content .swiperContent .review p{
    max-width: 400px;
    height: 96px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.04em;
    color: rgba(62, 29, 78, 0.64);
}
.reviews .content .swiperContent .review h3{
    width: 400px;
    height: 24px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.04em;
    color: #3E1D4E;
}
.reviews .content .slide{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 176px;
}
.reviews .content .slide .ctrl{
    width: 48px;
height: 0px;
border: 4px solid #FFFFFF66;
}
.reviews .content .slide .ctrl.active{
    border-color: white;
}




/* CTA  */

.cta{
    background: linear-gradient(0deg, rgba(62, 29, 78, 0.08), rgba(62, 29, 78, 0.08)), #FFFFFF;
}
.cta .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 40px;
    overflow: hidden;
    height: max-content;
}
.cta .content .swiperContent{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 40px;
    overflow-x: scroll;
    max-width: 960px;
    width: 100%;
    scroll-snap-type: x mandatory;
    height: max-content;
    position: relative;
}
.cta .content .swiperContent .card{
    padding: 40px;
    box-sizing: border-box;
    gap: 24px;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    align-items: center;
}
.cta .content .slide{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 112px;
    height: 0px;
}
.cta .content .slide .ctrl{
    width: 48px;
    height: 0px;
    border: 4px solid rgba(62, 29, 78, 0.24);
}
.cta .content .slide .ctrl.active{
    border-color: #3E1D4E;
}
.cta .content .texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    max-width: 960px;
}
.cta .content .texts h1{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    text-align: center;
    letter-spacing: -0.04em;
    color: #3E1D4E;
    width: 100%;
}
.cta .content .texts p{
    font-style: normal;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    color: rgba(62, 29, 78, 0.64);
}
.cta .content .btn{
    width: max-content;
}



/* footer */
footer{
    background-color: #3E1D4E;
}
footer .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 40px;
    width: 1200px;
    height: 516px;
}
footer .content .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
    max-width: 960px;
    height: max-content;
}
footer .content .top .texts{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

max-width: 960px;
height: max-content;
}
footer .content .top .texts p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;
}
footer .content .top .texts a{
    color: #ECCB5E;
}
footer .content p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    color: #FFFFFF;
}
#hamburger{
    display: none;
}


/* mobile view */
@media (max-width: 1100px) {
    .discover .content .frame5{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .content,nav,.Hero .content,.cta .content,.problem_statement .content,.services .content,.reviews .content ,.discover .content{
        padding: 50px;
        width: 100%;
    }
    .problem_statement .content{
        height: fit-content;
    }
    .services .content .frame5 .detailsHold details summary{
        max-width: 520px;
        width: 100%;
    }
    .services .content .frame5 .detailsHold{
        align-items: stretch;
    }
}
@media (max-width: 1000px) {
    .reviews .content .header,.discover .content .frame5{
        gap: 10px;
    }
.reviews .content .header h2, .reviews .content .header p{
    max-width: 428px;
    width: 50%;
}
}
@media (max-width: 800px) {
    .cta .content .swiperContent .card{
        max-width: 700px;
    }
    .services .content .frame5{
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviews .content .header h2,.reviews .content .header p,.reviews .content .header{
        height: max-content;
    }
}
@media (max-width: 700px) {
    .cta .content .swiperContent .card{
        min-width: 600px;
    }
    .Hero .content .images{
        left: 50%;
        width: 100%;
        transform: translate(-50%);
        top: 530px;
    }
    .Hero .content .images img:first-child{
        left: -130px;
    }
    .Hero .content .images img:last-child{
        left: 118px;
    }
    .Hero .content{
        height: 1024px;
    }
    .problem_statement .content .texts p{
        height: max-content;
    }
}
@media (max-width: 600px) {
    #hamburger{
        display: block;
        padding-right: 50px;
        z-index: 1000;
    }
    .Hero .content .images{
        top: 420px;
        left: 30%;
    }
    .Hero .content .images img:first-child{
        width: 498.3px;
        height: 579.75px;
        left: -38.63px;
        top: 0;
    }
    .Hero .content .images img:last-child{
        width: 409.02px;
        height: 613.46px;
        left: 203.39px;
        top: 0;
    }
    nav .links{
        background-color: #ECCB5E;
        max-width: 600px;   
        height: max-content;
        padding: 50px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        top: -1000px;
        left: 50%;
        transition: all 200ms;
        z-index: 100;
        transform: translate(-50%);
        position: absolute;
    }
    header nav .links.active{
        top: 0px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav{
        justify-content: start;
        padding: 0px;
        padding-left: 50px;
    }
    nav .links .yellow{
        color: #3E1D4E;
    }
    .Hero .content{
        gap: 40px;
        display: flex;
        flex-direction: column;
        height: 890.29px;
    }
    .Hero .content .texts{
        height: max-content;
        gap: 16px;
        z-index: 10;
    }
    .Hero .content .texts h1{
        font-size: 40px;
    }

    .Hero .content .texts p{
        font-size: 14px;
    }
    .reviews .content .header{
        flex-direction: column;
    }
    .reviews .content .header h2, .reviews .content .header p{
        width: 100%;
    }
    .reviews .content .header h2{
        font-size: 24px;
    }
    .reviews .content .header p{
        font-size: 14px;
    }
    .btn a{
        font-size: 14px;
    }
    .problem_statement .content .texts h1{
        font-size: 24px;
    }
    .discover .content h1{
        height: fit-content;
    }
    .discover .content .frame5 .hireTalent .hireText, .discover .content .frame5 .hireTalent a{
        font-size: 14px;
    }
    .services .content .frame5 .detailsHold details summary{
        font-size: 24px;
    }
    .services .content .frame5 .detailsHold details p{
        height: max-content;
        font-size: 14px;
    }
    .reviews .content .swiperContent .review{
        padding: 24px;
        gap: 16px;
        height: max-content;
    }
    .cta .content .texts p,.reviews .content .swiperContent .review p{
        font-size: 14px;
        height: max-content;
    }
    #servicesImg{
        max-width: 302px;
        width: 100%;
    }
}